node_modules/
dist/
.create-maa-project/
.venv/
.uv-cache/
pnpm-lock.yaml
uv.lock
MaaCommonAssets/
resource/base/model/ocr/
tools/schema/interface.schema.json
tools/schema/interface_config.schema.json
tools/schema/interface_import.schema.json
tools/schema/pipeline.schema.json
